xml-resources/web-service-references/articulos/wsdl/192.168.84.132_8084/Web_Proyecto_Tomcat/articulos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://web_articulos/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_articulos/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.84.132:8084/Web_Proyecto_Tomcat/articulos?xsd=2" />

<xs:element name="articulosCategorias" type="tns:articulosCategorias" />

<xs:element name="articulosCategoriasResponse" type="tns:articulosCategoriasResponse" />

<xs:complexType name="articulosCategorias">
<xs:sequence />
</xs:complexType>

<xs:complexType name="articulosCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>