xml-resources/web-service-references/Usuarios/wsdl/192.168.84.132_8084/Web_Proyecto_Tomcat/Usuarios.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicio_Usuarios/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio_Usuarios/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.84.132:8084/Web_Proyecto_Tomcat/Usuarios?xsd=1" />

<xs:element name="ConsultarTrabajadores" type="tns:ConsultarTrabajadores" />

<xs:element name="ConsultarTrabajadoresObjeto" type="tns:ConsultarTrabajadoresObjeto" />

<xs:element name="ConsultarTrabajadoresObjetoResponse" type="tns:ConsultarTrabajadoresObjetoResponse" />

<xs:element name="ConsultarTrabajadoresResponse" type="tns:ConsultarTrabajadoresResponse" />

<xs:element name="InsertarUsuario" type="tns:InsertarUsuario" />

<xs:element name="InsertarUsuarioResponse" type="tns:InsertarUsuarioResponse" />

<xs:element name="consultarUsuariosTiendas" type="tns:consultarUsuariosTiendas" />

<xs:element name="consultarUsuariosTiendasResponse" type="tns:consultarUsuariosTiendasResponse" />

<xs:element name="devuelveUsuarioLogueo" type="tns:devuelveUsuarioLogueo" />

<xs:element name="devuelveUsuarioLogueoResponse" type="tns:devuelveUsuarioLogueoResponse" />

<xs:element name="loguearse" type="tns:loguearse" />

<xs:element name="loguearseResponse" type="tns:loguearseResponse" />

<xs:complexType name="ConsultarTrabajadoresObjeto">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ConsultarTrabajadoresObjetoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguearse">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguearseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarTrabajadores">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ConsultarTrabajadoresResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="devuelveUsuarioLogueo">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="devuelveUsuarioLogueoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:string" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarUsuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarUsuariosTiendas">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuariosTiendasResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>