src/META-INF/wsdl/192.168.84.132_8084/Web_Proyecto_Tomcat/Usuarios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio_Usuarios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio_Usuarios/" name="Usuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.84.132:8084/Web_Proyecto_Tomcat/Usuarios?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Servicio_Usuarios/" schemaLocation="http://192.168.84.132:8084/Web_Proyecto_Tomcat/Usuarios?xsd=2" />
</xsd:schema>
</types>
<message name="loguearse">
<part name="parameters" element="tns:loguearse" />
</message>
<message name="loguearseResponse">
<part name="parameters" element="tns:loguearseResponse" />
</message>
<message name="InsertarUsuario">
<part name="parameters" element="tns:InsertarUsuario" />
</message>
<message name="InsertarUsuarioResponse">
<part name="parameters" element="tns:InsertarUsuarioResponse" />
</message>
<message name="ConsultarTrabajadores">
<part name="parameters" element="tns:ConsultarTrabajadores" />
</message>
<message name="ConsultarTrabajadoresResponse">
<part name="parameters" element="tns:ConsultarTrabajadoresResponse" />
</message>
<message name="devuelveUsuarioLogueo">
<part name="parameters" element="tns:devuelveUsuarioLogueo" />
</message>
<message name="devuelveUsuarioLogueoResponse">
<part name="parameters" element="tns:devuelveUsuarioLogueoResponse" />
</message>
<message name="consultarUsuariosTiendas">
<part name="parameters" element="tns:consultarUsuariosTiendas" />
</message>
<message name="consultarUsuariosTiendasResponse">
<part name="parameters" element="tns:consultarUsuariosTiendasResponse" />
</message>
<portType name="Usuarios">
<operation name="loguearse">
<input wsam:Action="http://Servicio_Usuarios/Usuarios/loguearseRequest" message="tns:loguearse" />
<output wsam:Action="http://Servicio_Usuarios/Usuarios/loguearseResponse" message="tns:loguearseResponse" />
</operation>
<operation name="InsertarUsuario">
<input wsam:Action="http://Servicio_Usuarios/Usuarios/InsertarUsuarioRequest" message="tns:InsertarUsuario" />
<output wsam:Action="http://Servicio_Usuarios/Usuarios/InsertarUsuarioResponse" message="tns:InsertarUsuarioResponse" />
</operation>
<operation name="ConsultarTrabajadores">
<input wsam:Action="http://Servicio_Usuarios/Usuarios/ConsultarTrabajadoresRequest" message="tns:ConsultarTrabajadores" />
<output wsam:Action="http://Servicio_Usuarios/Usuarios/ConsultarTrabajadoresResponse" message="tns:ConsultarTrabajadoresResponse" />
</operation>
<operation name="devuelveUsuarioLogueo">
<input wsam:Action="http://Servicio_Usuarios/Usuarios/devuelveUsuarioLogueoRequest" message="tns:devuelveUsuarioLogueo" />
<output wsam:Action="http://Servicio_Usuarios/Usuarios/devuelveUsuarioLogueoResponse" message="tns:devuelveUsuarioLogueoResponse" />
</operation>
<operation name="consultarUsuariosTiendas">
<input wsam:Action="http://Servicio_Usuarios/Usuarios/consultarUsuariosTiendasRequest" message="tns:consultarUsuariosTiendas" />
<output wsam:Action="http://Servicio_Usuarios/Usuarios/consultarUsuariosTiendasResponse" message="tns:consultarUsuariosTiendasResponse" />
</operation>
</portType>
<binding name="UsuariosPortBinding" type="tns:Usuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="loguearse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarTrabajadores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="devuelveUsuarioLogueo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarUsuariosTiendas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Usuarios">
<port name="UsuariosPort" binding="tns:UsuariosPortBinding">
<soap:address location="http://192.168.84.132:8084/Web_Proyecto_Tomcat/Usuarios" />
</port>
</service>
</definitions>